<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <meta name="description" content="">

    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">

    <link rel="stylesheet" href="/assets/css/main.css">
    {{#each page.styles }}
    <link rel="stylesheet" href="/assets/css/{{this}}">
    {{/each}}

</head>

<body>

    {{> header }}

    {{{ body }}}

    {{> footer }}


    {{#each page.scripts }}
    <script src="/assets/js/{{this}}.js"></script>
    {{/each}}
    <% if (moduleFramework === 'browserify') 
    { %><script src="/assets/js/{{default vm 'main'}}.js"></script><% } 
    else 
    { %><script src="/assets/js/vendor/vue/vue.min.js"></script>
    <script src="/assets/js/main.js"></script><% 
    } %>
</body>
</html>

