/*-------------------------------------*\
    BREAKPOINTS
\*-------------------------------------*/

/**
 * Breakpoints 
 * 
 * All the global breakpoints for the app
 * 
    
 * 
 * Global Breakpoints:
 *  gbp-[name]
 * 
 * Local Breakpoints:
 *  bp-[name]
 * 
 */ 
 

$gbp-huge:      1080px;
$gbp-large:     960px;
$gbp-medium:    740px;
$gbp-small:     610px;
$gbp-tiny:      450px;
 




