/*-------------------------------------*\
    PAD
\*-------------------------------------*/

/**
 * Pad 
 * 
 * Styles for adding padding to elements
 * 
 **
 * Base
 * Implementation
 * 
 */ 
 


/*-------------------------------------*\
    Base
\*-------------------------------------*/

%pad--top    { padding-top:     unit(); }
%pad--right  { padding-right:   unit(); }
%pad--bottom { padding-bottom:  unit(); }
%pad--left   { padding-left:    unit(); }
 
%pad-half--top    { padding-top:     unit(.5); }
%pad-half--right  { padding-right:   unit(.5); }
%pad-half--bottom { padding-bottom:  unit(.5); }
%pad-half--left   { padding-left:    unit(.5); }





/*-------------------------------------*\
    Implementation
\*-------------------------------------*/

.pad--top    { @extend %pad--top;       }
.pad--right  { @extend %pad--right;     }
.pad--bottom { @extend %pad--bottom;    }
.pad--left   { @extend %pad--left;      }

.pad-half--top    { @extend %pad-half--top;     }
.pad-half--right  { @extend %pad-half--right;   }
.pad-half--bottom { @extend %pad-half--bottom;  }
.pad-half--left   { @extend %pad-half--left;    }





